.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(245, 245, 245) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(245, 245, 245) 1px, transparent 1px);
  background-size: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

input {
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px #cecece;
  margin: 15px 0px;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
}

button {
  padding: 15px;
  background-color: #68d78e;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  width: 100%;
  max-width: 350px;
}
